@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: 'Inter', sans-serif;
}
input:focus{
    outline: none;
}
.head-para{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.6;
}
.note{
    font-size:1rem;
    font-weight: 900;
    width:60px;
}
.note-para{
    width:60%;
    display: grid;
    align-items:flex-start;
    margin:0 auto;
    grid-template-rows: 1fr 7vh ;
    grid-template-columns: 1fr auto;
}
.part{
    font-size:0.875rem;
    font-weight: 900;
}
.personal-details{
    font-size:0.875rem;
    font-weight: 900;
    width: 60%;
    display: grid;
    justify-content: left;
    margin :0 auto;
}
.form-outer-1,.form-outer-2,.form-outer-3,.form-outer-4{
    width:80.1%;
    margin:20px auto;
    border:1px solid rgba(0,0,0,1);
}
.title{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
}
.title div{
    border:1px solid rgba(0,0,0,1);
    padding:0 8px;
}
.surname ,.other-name{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 7vh;
}
.surname label,.other-name label{
    border:1px solid rgba(0,0,0,1);
    padding: 0 8px;
}
.omang-dob{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.omang input{
    width:25px;
    margin: 0;
}
.omang {
    display: grid;
    grid-template-columns: 2.15fr 3fr;
}
.omang div{
    border:1px solid rgba(0,0,0,1);
}
.omang label{
    padding:0 8px;
}
.b-right{
    border:none;
    border-right:1px solid;
}
.dob{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.dob label{
    border: 1px solid rgba(0,0,0,1);
    padding:0 8px;
}
.gender{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr 1fr;
}
.gender div{
    border: 1px solid rgba(0,0,0,1);
    padding: 0 8px;
}
.gender-option{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}
.gender .marital-status{
    border-right: unset;
}
.gender div:last-child{
    border-left:unset;
}
.marital-status{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.marital-status span{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.address,.stay-time,.name-add{
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 7vh;
}
.address div,.address input,.stay-time div,.stay-time input,.name-add input,.name-add div{
    border:1px solid rgba(0,0,0,1);
    padding:0 8px;
}
.physical-address{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.p-addr-inner,.district{
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 6vh;
}
.p-addr-inner input,.district input{
    border:none;
    border-left:1px solid rgba(0,0,0,1);
}
.p-addr-inner div{
    border:1px solid rgba(0,0,0,1);
    border-bottom: none;
    padding: 0 8px;
}
.district div{
    border:1px solid rgba(0,0,0,1);
    border-top: none;
    padding: 0 8px;
}
.previous-address{
    display: grid;
    grid-template-columns: 24.89% 2fr 1fr 1fr 1fr;
    grid-template-rows: 7vh;
    border:1px solid rgba(0,0,0,1);
}
.previous-address input{
    /* width:133px; */
    border: none;
}
.previous-address div{
    border:1px solid rgba(0,0,0,1);
    border-bottom: none;
}
.previous-address p{
    margin:0;
    padding:0 8px;
}
.p-addr-para{
    border-right:1px solid;
}
/* .pre-addr-input{
    width: 387.95px !important;
    height:41.15px;
} */
.p-a-input{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
.email{
    display:grid;
    grid-template-columns: 2fr 6fr;
}
.email div{
    padding:0 8px;
}
.email input{
    border:none;
}
.email div,.email input{
    border:1px solid rgba(0,0,0,1);
}
.position{
    display:grid;
    grid-template-columns: 2fr 3fr 3fr;
}
.position div,.position input{
    border:1px solid rgba(0,0,0,1);
    padding:0 8px;
}
.salary,.p{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border:none !important;
}
.salary input,.p input{
    border:none;
}
.description-1,.description-2{
    display: grid;
    grid-template-rows: 1fr 10vh;
    border:1px solid rgba(0,0,0,1);
}
.description-1 div,.description-2 div{
    padding:0 8px;
}
.description-1 input,.description-2 input{
    border:none;
}
footer{
    text-align: center;
    margin-bottom: 20px;
}